In [5]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [1]:
import torch
import torch.nn as nn
import torch.optim as optim


from sklearn.preprocessing import StandardScaler
from sklearn.metrics import root_mean_squared_error

In [2]:
device  = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [3]:
device

device(type='cpu')

In [7]:
ticker = 'AAPL'
df = yf.download(ticker,'2020-01-01')

C:\Users\himan\AppData\Local\Temp\ipykernel_17912\1266454546.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker,'2020-01-01')
[*********************100%***********************]  1 of 1 completed

In [8]:
df

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2020-01-02   72.620842   72.681289   71.373218   71.627092  135480400
2020-01-03   71.914833   72.676462   71.689973   71.847133  146322800
2020-01-06   72.487854   72.526541   70.783256   71.034717  118387200
2020-01-07   72.146942   72.753823   71.926915   72.497529  108872000
2020-01-08   73.307518   73.609752   71.849540   71.849540  132079200
...                ...         ...         ...         ...        ...
2025-06-09  201.449997  206.000000  200.020004  204.389999   72862600
2025-06-10  202.669998  204.350006  200.570007  200.600006   54672600
2025-06-11  198.779999  204.500000  198.410004  203.500000   60989900
2025-06-12  199.199997  199.679993  197.360001  199.080002   43904600
2025-06-13  196.449997  200.369995  195.699997  199.729996   51362400

[1370 rows x 5 columns]